<h2>Rezervasyon Listesi</h2>

<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Konuk Adı: {{reservation.guestName}} <br>
        Mail Adresi: {{reservation.guestEmail}} <br>
        Oda Numarası: {{reservation.roomNumber}} <br>
        Giriş Tarihi: {{reservation.checkInDate}} <br>
        Çıkış Tarihi: {{reservation.checkOutDate}} <br>
        <button (click)="deleteReservation(reservation.id)">❌</button>
    </li>
</ul>

<!-- (Local Ref) -->
<ng-template #noReservation>
    <p>Rezervasyon bulunmamaktadır.</p>
</ng-template>