<app-home></app-home>

<h3 class="mt-5 mb-3">Rezervasyon Listesi</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Konuk</th>
            <th>Mail</th>
            <th>Oda Numarası</th>
            <th>Giriş</th>
            <th>Çıkış</th>
            <th>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}}</td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.roomNumber}}</td>
            <td> {{reservation.checkInDate}} </td>
            <td>{{reservation.checkOutDate}}</td>
            <td>
                <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Sil</button>
                <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Düzenle</button>
            </td>
        </tr>
    </tbody>
</table>

<ul *ngIf="reservations.length; else noReservation">

</ul>

<ng-template #noReservation>
    <p>No reservation available.</p>
</ng-template>